<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <title>dashboard</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown">
            <a class="<!DOCTYPE html>
              <html lang="en">
                <head>
                  <meta charset="utf-8" />
                  <meta name="viewport" content="width=device-width, initial-scale=1" />
                  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
                  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
                  <title>dashboard</title>
                </head>
                <body>
                  <nav class="navbar navbar-expand-lg navbar-light bg-light">
                    <a class="navbar-brand" href="#">Navbar</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                      <ul class="navbar-nav mr-auto">
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Images </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="nav-link" href="/compression_service/compression_upload">compress new file</a>
                            <a class="nav-link" href="/compression_service/sorted/compressed">compressed files</a>
                            <a class="nav-link" href="/compression_service/upload">upload new file</a>
                            <a class="nav-link" href="/compression_service/sorted/uncompressed">view uncompressed files</a>
                          </div>
                        </li>
                        <li class="nav-item dropdown">
                          <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> videos </a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="nav-link" href="/video_compression/upload/video">upload a video</a>
                            <a class="nav-link" href="/video_compression/compress/video">compress a video</a>
                            <a class="nav-link" href="/video_compression/status/video">compress uploaded video</a>
                            <a class="nav-link" href="/video_compression/compressed/video">view compressed videos</a>
                          </div>
                        </li>
                      </ul>
                    </div>
                  </nav>
                  <!-- image index table -->
                  <div class="container">
                    <table class="table table-striped">
                      <thead>
                        <tr>
                          <th scope="col">#</th>
                          <th scope="col">file name</th>
                          <th scope="col">file size</th>
                          <th scope="col">compressed</th>
                          <th scope="col">compress</th>
                        </tr>
                      </thead>
                      <tbody> {% for imgs in img %} <tr>
                          <th scope="row">{{ imgs.id }}</th>
                          <th>
                            <img height='30' width='30' src="{{ url_for('compression_service.static', filename=imgs.file_name)}}">
                          </th>
                          <td>{{ imgs.file_name }}</td>
                          <td>{{ imgs.file_size }}</td>
                          <td>{{ imgs.file_compressed }}</td>
                          <td> {% if not imgs.file_compressed %} <button>
                              <a href="/compression_service/existing_compression/{{ imgs.id }}/{{ imgs.file_name }}">compress</a>
                            </button>
                            <button>
                              <a href="/compression_service/display/uncompressed/{{ imgs.id }}/{{ imgs.file_name }}">view image</a>
                            </button> {% else %} <button>
                              <a href="/compression_service/display/compressed/{{ imgs.id }}/{{ imgs.file_name }}"> view image </a>
                            </button> {% endif %}
                          </td>
                        </tr> {% endfor %} </tbody>
                    </table>
                  </div>
                </body>
              </html>-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> Images </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="nav-link" href="/compression_service/compression_upload">compress new file</a>
              <a class="nav-link" href="/compression_service/sorted/compressed">compressed files</a>
              <a class="nav-link" href="/compression_service/upload">upload new file</a>
              <a class="nav-link" href="/compression_service/sorted/uncompressed">view uncompressed files</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> videos </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="nav-link" href="/video_compression/upload/video">upload a video</a>
              <a class="nav-link" href="/video_compression/compress/video">compress a video</a>
              <a class="nav-link" href="/video_compression/status/video">compress uploaded video</a>
              <a class="nav-link" href="/video_compression/compressed/video">view compressed videos</a>
            </div>
          </li>
        </ul>
      </div>
    </nav>
    <!-- image index table -->
    <div class="container">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">file name</th>
            <th scope="col">file size</th>
            <th scope="col">compressed</th>
            <th scope="col">compress</th>
          </tr>
        </thead>
        <tbody> {% for imgs in img %} <tr>
            <th scope="row">{{ imgs.id }}</th>
            <th>
              <img height='30' width='30' src="{{ url_for('compression_service.static', filename=imgs.file_name)}}">
            </th>
            <td>{{ imgs.file_name }}</td>
            <td>{{ imgs.file_size }}</td>
            <td>{{ imgs.file_compressed }}</td>
            <td> {% if not imgs.file_compressed %} <button>
                <a href="/compression_service/existing_compression/{{ imgs.id }}/{{ imgs.file_name }}">compress</a>
              </button>
              <button>
                <a href="/compression_service/display/uncompressed/{{ imgs.id }}/{{ imgs.file_name }}">view image</a>
              </button> {% else %} <button>
                <a href="/compression_service/display/compressed/{{ imgs.id }}/{{ imgs.file_name }}"> view image </a>
              </button> {% endif %}
            </td>
          </tr> {% endfor %} </tbody>
      </table>
    </div>
  </body>
</html>